<article id="twat-<%= twat_id %>" class="twat card">
  <header class="head">
    <img src="<%= image_url %>">
    <h1>
      <a href="/users/<%= username %>">@<%= username %></a>
    </h1>
    <% unless current_user.id == twatter_id %>
      <form class="block-twatter-<%= twatter_id %>" action="/blocks" method="post" class="action">
        <input type="hidden" name="blocker_id" value="<%= twatter_id %>">
        <button>
          <i class="fas fa-ban"></i>
          <span class="sr-only">Block</span>
        </button>
      </form>
    <% end %>
  </header>
  <section class="body">
    <p><%= message %></p>
  </section>
  <footer class="foot actions">
    <form action="/twat/<%= twat_id %>" class="action">
      <button>
        <i class="far fa-comment-alt"></i>
        <span class="sr-only">Comments</span>
        <span class="count"><%= comments_count %></span>
      </button>
    </form>
    <form action="/likes" method="post" class="action">
      <input type="hidden" name="twat_id" value="<%= twat_id %>">
      <input type="hidden" name="user_id" value="REMOVE ME -> look at current_user object">
      <button>
        <i class="far fa-heart"></i>
        <span class="sr-only">Like</span>
        <span class="count"><%= likes %></span>
      </button>
    </form>
    <% unless current_user.id == twatter_id %>
      <form action="/retwats" method="post" class="action">
        <input type="hidden" name="twat_id" value="<%= twat_id %>">
        <input type="hidden" name="user_id" value="REMOVE ME -> look at current_user object">
        <button>
          <i class="fas fa-retweet"></i>
          <span class="sr-only">Retwat</span>
          <span class="count"><%= retwats %></span>
        </button>
      </form>
      <form action="/messages/new" class="action">
        <input type="hidden" name="twatter_id" value="<%= twatter_id %>">
        <button>
          <i class="far fa-envelope"></i>
          <span class="sr-only">Direct Message</span>
        </button>
      </form>
    <% end %>
  </footer>
</article>
