<article class="twat card">
  <header class="head">
    <img src="<%= image_url %>">
    <h1>
      <a href="/users/<%= username %>">@<%= username %></a>
    </h1>
    <button>
      <i class="fas fa-ban"></i>
      <span class="sr-only">Block</span>
    </button>
  </header>
  <section class="body">
    <p><%= message %></p>
  </section>
  <footer class="foot actions">
    <button>
      <i class="far fa-heart"></i>
      <span class="sr-only">Like</span>
      <span class="count"><%= likes %></span>
    </button>
    <button>
      <i class="fas fa-retweet"></i>
      <span class="sr-only">Retwat</span>
      <span class="count"><%= retwats %></span>
    </button>
  </footer>
</article>
