<article class="user-profile-card">
  <img src="/images/avatar3.png">
  <h1 class="name"><%= name %></h1>
  <span class="username"><%= "@#{username}" %></span>
  <section class="user-counts">
    <div class="twats">
      Twats <span class="twats-count"><%= twats_count %></span>
    </div>
    <div class="following">
      Following <span class="followings-count"><%= following_count %></span>
    </div>
    <div class="followers">
      Followers <span class="followers-count"><%= followers_count %></span>
    </div>
  </section>
</article>
