<article class="user-profile-card">
  <img src="/images/avatar3.png">
  <h1 class="name">
    <%= name %>
    <a href="/users/<%= username %>" class="username"><%= "@#{username}" %></a>
  </h1>
  <section class="user-counts">
    <div class="twats">
      <a href="/?twatter_id=<%= username %>" class="twats-count-heading">Twats</a>
      <span class="twats-count"><%= twats_count %></span>
    </div>
    <div class="following">
      <a href="/following/<%= username %>" class="followings-count-heading">Following</a>
      <span class="followings-count"><%= following_count %></span>
    </div>
    <div class="followers">
      <a href="/followers/<%= username %>" class="followers-count-heading">Followers</a>
      <span class="followers-count"><%= followers_count %></span>
    </div>
  </section>
</article>
